
.wrapper-content {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.wrapper-content .credit-boder {
    border: 1px solid white;
    border-radius: 5px;
    height: 170px;
    width: 250px;
}

.credit-2 {
    margin-left:20px;
}
